{% extends 'base.html' %}

{% block content %}
	<div class="col-xs-12 col-sm-9">

		<div class="jumbotron">
			<h1>Добро пожаловать в Академию Джедаев!</h1>
		</div>
	</div>
	<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
		<div class="list-group">
			<a href="#" class="list-group-item active">Link</a>
			<a href="#" class="list-group-item">Link</a>
			<a href="#" class="list-group-item">Link</a>
			<a href="#" class="list-group-item">Link</a>
		</div>
	</div>
{% endblock %}