{% extends 'base.html' %}

{% block content %}
	<div class="col-xs-12 col-sm-9">
		<h2>Список кандидатов</h2>

		{% for candidate in candidates %}
			<form action="{% url 'academy:candidate-add' %}" method="post">
				{% csrf_token %}
				<input name="jedi" type="hidden" value="{{ jedi }}">
				<input name="candidate" type="hidden" value="{{ candidate.id }}">
				{{ candidate.name }}
				<ol>
					{% for test in candidate.testresult_set.all %}
						<li>
							{{ test.test.name }}
							<ul>
								{% for answer in test.testresultanswer_set.all %}
									<li>
										{{ answer.question.question_text }} - {{ answer.choice.choice_text }} ({{ answer.choice.votes }})
									</li>
								{% endfor %}
							</ul>
						</li>
					{% endfor %}
				</ol>
				<input type="submit" value="Зачислить">
			</form>

		{% endfor %}
	</div>
{% endblock %}