{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
	<div class="col-xs-12 col-sm-9">
		<form action="{% url 'academy:candidate-new' %}" method="post">
			{% csrf_token %}
			{% bootstrap_form form %}

			<input type="submit" value="Далее">
		</form>
	</div>
{% endblock %}