{% extends 'base.html' %}

{% block content %}
	<div class="col-xs-12 col-sm-9">
		<h2>Выберите джедая</h2>

		<ul>
			{% for jedi in jedi_all %}
				<li><a href="{% url 'academy:candidate-list' jedi.id %}">{{ jedi.name }} ({{ jedi.padavan_count }})</a></li>
			{% endfor %}
		</ul>


		{% if jedi_count %}
			<hr>
			<ol>
				{% for jedi in jedi_count %}
					<li><a href="{% url 'academy:candidate-list' jedi.id %}">{{ jedi.name }} ({{ jedi.padavan_count }})</a></li>
				{% endfor %}

			</ol>
		{% endif %}

	</div>
{% endblock %}