{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
	<div class="col-xs-12 col-sm-9">
		{% if items %}
			<ul>
				{% for test in items %}
					<li><a href="{{ test.get_absolute_url }}">{{ test.name }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<p>Нет доступных испытаний.</p>
		{% endif %}
	</div>
{% endblock %}