{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
	<div class="col-xs-12 col-sm-9">

		<h2>{{ item.name }}</h2>

		<form action="{% url 'academy:test-detail' item.slug %}" method="post" class="form-horizontal">
			{% csrf_token %}
			<input type="hidden" name="testtest" value="{{ item.id }}">
			{% for question in item.question_set.all %}
				<div class="form-group">
					<label class="col-sm-2 control-label">{{ question.question_text }}</label>
					<div class="col-sm-10">
						{% for choises in question.choice_set.all %}
							<div class="radio">
								<label>
									<input type="radio" name="question-{{ question.id }}" value="{{ choises.id }}" required>
									{{ choises.choice_text }}
								</label>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
			<input type="submit" class="btn btn-default" value="Закончить">
		</form>

	</div>
{% endblock %}